{% extends 'back.html.twig' %}
{%block core%}
    <table class="table table-responsive table-dark" border="1">
        <tr>
            <th>Sujet</th>
            <th>description</th>
            <th>etat</th>
            <th>date</th>

        </tr>
        {% for reclamation in reclamtions %}

            <tr>
                <td>
                    {{ reclamtion.sujet }}
                </td>
                <td>
                    {{ reclamtion.description }}
                </td>

                <td>
                    {{ reclamtion.etat }}
                </td>
                <td>
                    {{ reclamtion.date }}
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock core %}
